a{
    text-decoration: none;
    color: white;
    
}
p{
    color: black;
    
}

body{
    background-image: url("bg.jpg");
    background-position:center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
  
}
.header{
    padding: 0;
    margin: 0;
    background-color: brown;
    text-align: center;
    font-size: 45px;
}
.menu{
    margin: 0;
    width: max-content;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    position: fixed;
    top: 150px;
  
}

.list{
    margin-right: 180px;
    margin-left: 180px;
    padding: 10px;
    
    color: black;
    background-color: rgba(188, 223, 225, 0.748);

    text-align: center;
}
.newProgram{
    text-align: left;
}
.news{
    
    text-align: center;
}
.date{
    padding-right: 10px;
    text-align: right;
}
.contact{
    margin: 0;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    position: fixed;
    right: 0px;
    top: 150px;
}
.foother{
    margin: 0;
    background-color: blue;
    margin: 0;
    width: auto;
    height: 70px;
    position: relative;
    bottom: 10px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
}
.text{
    font-size: 20px;
}
li a {
    display: block; /* Ссылка как блочный элемент */
   
    border-bottom: none; /* Границу снизу не проводим */
   }
li a:hover 
{
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
}